.dashboard{
    height: calc(100vh - 89px);
    padding: 0 15%;

    .cards-container{
        display: flex;
        gap: 16px;
        width: 100%;
        box-sizing: border-box;
        
        .card-resume{
        // height: ;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
        gap: 8px;

        .icon-container{
            height: fit-content;
            width: fit-content;
            padding: 8px;
            border-radius: 6px;
        }

        h2{
            margin: 0;
        }
    }
    }
    
}