.dashboard {

  .dash-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
  }

  .cards-container{
        display: flex;
        gap: 16px;
        width: 100%;
        box-sizing: border-box;
        
        .card-resume{
        // height: ;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
        gap: 8px;

        .icon-container{
            height: fit-content;
            width: fit-content;
            padding: 8px;
            border-radius: 6px;
        }

        h2{
            margin: 0;
        }
    }
    }

  .dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 16px;

    .rooms, .quizzes {
        min-height: 600px; 
    }

    .history {
        grid-column: span 2 / span 2;
        min-height: 450px;
    }
    }
}
